<!doctype html>
<html lang="ja">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title><%= spot_data['title'] %>｜京都市観光施設一覧</title>
</head>
<body>
    <header class="bg-dark">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-white"><%= spot_data['h1'] %></h1>
                    <strong class="text-center text-white d-block"><%= spot_data['ruby'] %></strong>
                </div>
            </div>
        </div>
    </header>
    <main class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <% let description = spot_data['description'] ? spot_data['description'].replace(/\\n\\n/g, "<br>") : '' %>
                <p class="mb-5"><%- description %></p>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th scope="row">休館・休園日</th>
                            <td><%= spot_data['closed'] ? spot_data['closed'] : 'ー' %></td>
                        </tr>
                        <tr>
                            <th scope="row">備考</th>
                            <td><%- spot_data['note'] ? spot_data['note'].replace(/\\n\\n/g, "<br>") : 'ー' %></td>
                        </tr>
                        <tr>
                            <th scope="row">料金</th>
                            <td><%- spot_data['charge'] ? spot_data['charge'].replace(/\\n\\n/g, "<br />") : 'ー' %></td>
                        </tr>
                        <tr>
                            <th scope="row">予約</th>
                            <td><%- spot_data['reserve'] ? spot_data['reserve'].replace(/\\n\\n/g, "<br>") : 'ー' %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>